*.sh text eol=lf
doc/changes/changelog.md                                         linguist-generated=true
.github/workflows/broken_links_checker.yml                       linguist-generated=true
.github/workflows/project-keeper.sh                              linguist-generated=true
.github/workflows/project-keeper-verify.yml                      linguist-generated=true
