*.sh text eol=lf
doc/changes/changelog.md                                         linguist-generated=true
.github/workflows/project-keeper.sh                              linguist-generated=true
.github/workflows/project-keeper-verify.yml                      linguist-generated=true
.github/workflows/lint-github-actions.yml                        linguist-generated=true
.github/zizmor.yml                                               linguist-generated=true
SECURITY.md                                                      linguist-generated=true
