/target/

# Eclipse and Maven
.classpath
.project
.settings
target
.cache
dependency-reduced-pom.xml

# Intellij
.idea
# Intellij recommends to share iml files, however, better don't share files which might be outdated
*.iml

# Others
.DS_Store
*.swp 
Scripts/*
.dbeaver-data-sources.xml