language: java

# Setting sudo to false will cause Travis to use Containers (default in the meantime)
sudo: false

matrix:
  include:
    - jdk: "openjdk7"
      env: MVN_ARGS=""
    - jdk: "oraclejdk8"
      env: MVN_ARGS=""
    - jdk: "openjdk7"
      env: MVN_ARGS=""

# build a jar with all dependencies. Will also run tests.
script: "cd jdbc-adapter && mvn $MVN_ARGS clean package"

