language: java

# Setting sudo to false will cause Travis to use Containers.
# To use Docker's privileged mode, we need to enable sudo.
sudo: required

services:
  - docker

matrix:
  include:
    - jdk: "openjdk11"

addons:
  sonarcloud:
    organization: exasol

before_script:
  - tools/version.sh verify
  - sudo pip install pipenv

install:
    - travis_retry mvn dependency:resolve

script:
  - mvn clean org.jacoco:jacoco-maven-plugin:prepare-agent install sonar:sonar

cache:
  directories:
  - "$HOME/.m2"
