language: java

# Setting sudo to false will cause Travis to use Containers.
# To use Docker's privileged mode, we need to enable sudo.
sudo: required

services:
  - docker

matrix:
  include:
    - jdk: "openjdk9"


addons:
  sonarcloud:
    organization: exasol

before_script:
  - sudo pip install pipenv
  - ./jdbc-adapter/tools/version.sh verify

script:
  - ./jdbc-adapter/integration-test-data/run_integration_tests.sh
  - cd  jdbc-adapter
  - mvn clean org.jacoco:jacoco-maven-plugin:prepare-agent install sonar:sonar
