language: java

# Setting sudo to false will cause Travis to use Containers.
# To use Docker's privileged mode, we need to enable sudo.
sudo: required

services:
  - docker

matrix:
  include:
    - jdk: "openjdk8"


addons:
  sonarcloud:
    organization: exasol

before_script:
  - sudo pip install pipenv
  - ./jdbc-adapter/tools/version.sh verify
  
install:
    - cd  jdbc-adapter/virtualschema-jdbc-adapter
    - travis_retry mvn dependency:resolve
    - cd ../..

script:
  - ./jdbc-adapter/integration-test-data/run_integration_tests.sh
  - cd  jdbc-adapter
  - mvn clean org.jacoco:jacoco-maven-plugin:prepare-agent install sonar:sonar

cache:
  directories:
  - $HOME/.m2
  - /var/lib/docker
